* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: whitesmoke;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background-color: #FFFFFF;
  display: grid;
  margin: 50px;
  grid-template-columns: 1fr 2fr;
}
.container > .left_side {
  background-color: #003F91;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 12vh 1fr;
  justify-items: center;
}
.container > .left_side > .certifications {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-rows: 5vh 5vh;
}
.container > .left_side > .certifications > .title {
  font-size: 1.2em;
  color: #FFFFFF;
  margin-left: 25px;
  border-bottom: 1px solid #FFFFFF;
  text-transform: uppercase;
}
.container > .left_side > .certifications > div {
  display: grid;
  margin-left: 25px;
}
.container > .left_side > .certifications > div > h4 {
  color: #FFFFFF;
}
.container > .left_side > .languages {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: start;
}
.container > .left_side > .languages > .title {
  font-size: 1.2em;
  color: #FFFFFF;
  margin-left: 25px;
  border-bottom: 1px solid #FFFFFF;
  text-transform: uppercase;
}
.container > .left_side > .languages > u1 > li {
  color: #FFFFFF;
  margin-left: 25px;
  list-style: none;
}
.container > .left_side > .languages > u1 > li > h4 {
  font-size: 1em;
  text-transform: uppercase;
}
.container > .left_side > .education {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: start;
}
.container > .left_side > .education > .title {
  font-size: 1.2em;
  color: #FFFFFF;
  margin-left: 25px;
  border-bottom: 1px solid #FFFFFF;
  text-transform: uppercase;
}
.container > .left_side > .education > u1 {
  display: grid;
  grid-template-rows: 8vh 8vh;
}
.container > .left_side > .education > u1 > li {
  color: #FFFFFF;
  margin-left: 25px;
  list-style: none;
  align-items: center;
  justify-items: start;
  display: grid;
}
.container > .left_side > .education > u1 > li > .school {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.1em;
}
.container > .left_side > .education > u1 > li > .year {
  font-size: 1em;
  color: #5DA9E9;
}
.container > .left_side > .contact_info {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: start;
}
.container > .left_side > .contact_info > .title {
  font-size: 1.2em;
  color: #FFFFFF;
  margin-left: 25px;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.container > .left_side > .contact_info > u1 > li {
  list-style: none;
  margin: 10px 0;
  align-items: center;
  justify-items: start;
}
.container > .left_side > .contact_info > u1 > li > .text {
  color: #FFFFFF;
}
.container > .left_side > .contact_info > u1 > li > .icon {
  justify-self: start;
  margin-left: 15px;
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #5DA9E9;
}
.container > .left_side > .profile_header {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.container > .left_side > .profile_header > .pushoff {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.4em;
  font-size: 1.5em;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.container > .left_side > .profile_header > .pushoff > span {
  font-size: 0.8em;
  font-weight: 300;
}
.container > .right_side {
  position: relative;
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
}
.container > .right_side > .skills {
  display: grid;
  align-items: center;
  justify-items: start;
  width: 100%;
}
.container > .right_side > .skills > .title {
  color: #003F91;
  margin-left: 50px;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 1.4em;
}
.container > .right_side > .skills > u1 {
  display: grid;
  grid-template-rows: 3vh 3vh 3vh 3vh 3vh 3vh;
}
.container > .right_side > .skills > u1 > li {
  margin-left: 50px;
  list-style: none;
}
.container > .right_side > .profile {
  display: grid;
  align-items: center;
  justify-items: start;
  width: 100%;
}
.container > .right_side > .profile > .title {
  color: #003F91;
  margin-left: 50px;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 1.4em;
}
.container > .right_side > .profile > .text_span {
  width: 80%;
  display: grid;
  justify-items: start;
  align-items: start;
  text-align: start;
  margin-left: 50px;
}
.container > .right_side > .experience {
  display: grid;
  align-items: center;
  justify-items: start;
  width: 100%;
}
.container > .right_side > .experience > .title {
  color: #003F91;
  margin-left: 50px;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 1.4em;
}
.container > .right_side > .experience > .job_div {
  width: 80%;
  display: grid;
  justify-items: start;
  align-items: start;
  text-align: start;
  margin-left: 50px;
  grid-template-rows: 5vh 1fr;
}
.container > .right_side > .experience > .job_div > .title_container {
  width: 100%;
  display: grid;
  grid-template-columns: 10vw 15vw;
  align-items: center;
  justify-items: start;
}
.container > .right_side > .experience > .job_div > .title_container > h4 {
  font-size: 1.2em;
  color: #5DA9E9;
}
.container > .right_side > .experience > .job_div > .title_container > p {
  color: #5DA9E9;
}

/*# sourceMappingURL=style.css.map */
