*{
    margin: 0px;

    padding: 0px;

    box-sizing: border-box;

    font-family:Arial, Helvetica, sans-serif;

}

body{


    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;

    background-color: whitesmoke;
    


}


.container{

    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #FFFFFF;
    display: grid;
    margin: 50px;
    grid-template-columns: 1fr 2fr;

    


    >.left_side{

        background-color: #003F91;
        position: relative;
        display: grid;
        grid-template-rows: 20vh 20vh ;
        justify-items: center;

        >.contact_info{

            width: 100%;
            display: grid;
            align-items: center;
            justify-items: start;
            height: 18vh;

            >.title{

                color: #FFFFFF;
                margin-left: 25px;
                border-bottom: 1px solid #FFFFFF;
                margin-bottom: 15px;
            }

            >u1{

                >li{

                    list-style: none;
                    margin: 10px 0;


                    >.text{

                    
                       
                        color: #FFFFFF;
                    }

                    >.icon{

                        margin-left: 15px;
                        display: inline-block;
                        width: 30px;
                        font-size: 18px;
                        color: #5DA9E9;
                    }
                }
            }
        }

        >.profile_header{
            display: grid;
            justify-items: center;
            align-items: center;
            height: 15vh;
            width: 85%;
            border-bottom: 1px solid #FFFFFF;

            
            >.pushoff{

                margin-top: 50px;
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1.4em;
                font-size: 1.5em;
                color: #FFFFFF;

                >span{

                    font-size: 0.8em;
                    font-weight: 300;

                }
            }
        }
        


    }

    >.right_side{


    }
}

